[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GRCRegression"]
	path = GRCRegression
	url = https://github.com/cran/GRCRegression
